{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <img src="{% static 'core/img/logo.png' %}" alt="Logo" height="30">
                Mi Proyecto
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contacto</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                            data-bs-toggle="dropdown">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light ms-2" href="#">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <main> 
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Mi Proyecto</h5>
                    <p>Descripción breve del proyecto desarrollado por estudiantes de Análisis y Desarrollo de Software.</p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'core:index' %}" class="text-white-50">Inicio</a></li>
                        <li><a href="/" class="text-white-50">Acerca de</a></li>
                        <li><a href="/" class="text-white-50">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contacto</h5>
                    <p class="text-white-50">
                        Email: info@proyecto.com<br>
                        Teléfono: (123) 456-7890<br>
                        Tunja, Boyacá, Colombia
                    </p>
                </div>
            </div>
            <hr class="bg-white">
            <div class="row">
                <div class="col text-center">
                    <p class="mb-0">&copy; {% now "Y" %} Mi Proyecto. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>